.top-bar-cont {
    background-image: -moz-linear-gradient(0deg, rgb(112, 29, 52) 0%, rgb(149, 55, 86) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(112, 29, 52) 0%, rgb(149, 55, 86) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(112, 29, 52) 0%, rgb(149, 55, 86) 100%);
}

.top-bar {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xs {
        height: 30px;
    }
}

.store-link {
    font-size: 14px;
    color: $grey;
    @include transition(all 0.3s ease-in-out);

    .text {
        margin: 0 6px;
    }

    &:hover {
        color: #fff;
    }
}

.lang {
    font-size: 14px;
    color: $grey;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: #fff;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    @include xs {
        padding: 10px 0;
        flex-direction: column;
    }
}

.logo {
    display: block;
    width: 229px;

    @include xs {
        width: 200px;
        margin-bottom: 10px;
    }
}

.sec-head {
    display: flex;
    align-items: center;
}

.log-btns {
    display: flex;
    align-items: center;
}

.log-btn {
    font-size: 16px;
    color: #fff;
    font-family: med;
    height: 38px;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;


    &:first-of-type {
        @include goldgred();
        margin-left: 6px;

        #{$ltr} & {
            margin-left: 0;
            margin-right: 6px;
        }
    }

    &:last-of-type {
        @include redgred();
    }

    &:hover,
    &:focus {
        color: #fff;
    }
}