.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999999999;

    .img-responsive {
        transform: scale(1.2);
        transition: 15s;

        @include xs {
            width: 120px;
        }
    }
}